.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links  a:hover{
  color: red;
  transition: all 0.3s ease-in-out;
}


.nav-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.search-bar {
  border-radius: 4px;
  padding: 7px 12px;
  display: flex;
  border: 2px solid black;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  width: 150px;
}

.icon-link {
  display: flex;
  align-items: center;
}
